@tailwind base;
@tailwind components;
@tailwind utilities;

#r1 {
  top: 0px;
  left: 25%;
}

#r2 {
  top: 100px;
  left: 55%;
}

#r3 {
  top: 200px;
  left: 17%;
}

#r4 {
  top: 200px;
  left: 90%;
}

#r5 {
  top: 250px;
  left: 40%;
}

#r6 {
  top: 350px;
  left: 75%;
}

#r7 {
  top: 370px;
  left: -0.8%;
}

#r8 {
  top: 450px;
  left: 52%;
}

#r9 {
  top: 470px;
  right: -2%;
}

#r10 {
  top: 550px;
  left: 77%;
}

#r11 {
  top: 590px;
  left: 10%;
}

#r12 {
  top: 650px;
  left: 30%;
}
